@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

$font: "Inter", sans-serif;
$black: #0f0f0f;
$white: #fefefe;
$border: 1px solid #f2f2f2;
%brdr {
  border: $border;
  border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: $font;
  background-color: $white;
  font-size: 1.4rem;
}
.full_container {
  width: 100%;
}
.container {
  padding: 0 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
}
button:hover {
  cursor: pointer;
}

/*======== header ===========*/
.header {
  &__inner {
    &__top {
      &__single {
        display: flex;
        gap: 1.3rem;
        &--left {
          .modal {
            display: block;
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: rgba(147, 138, 138, 0.41);
            z-index: 1;
            left: 0;
            overflow: scroll;
            top: 0;
            .modal__inner {
              width: 600px;
              height: 575px;
              background-color: $white;
              color: $black;
              padding: 1.3rem;
              border-radius: 5px;
              margin: 0 auto;
              margin-top: 0px;
              margin-top: 18rem;
              margin-bottom: 3rem;
              &--body {
                display: flex;
                flex-wrap: wrap;
                .item {
                  .identity {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                  }
                  display: flex;
                  justify-content: space-between;
                  width: 28.1rem;
                  margin-right: 1rem;
                  margin-bottom: 1rem;
                  align-items: center;
                  padding: 10px 9px;
                  border-radius: 3px;
                }
                .item:hover {
                  background-color: #e4e4e4;
                }
                .item:nth-of-type(even) {
                  margin-right: 0;
                }
              }
              &--head {
                display: flex;
                justify-content: space-between;
                padding-left: 16rem;
                .close {
                  font-size: 2.5rem;
                  color: #4d4d4d;
                }
              }
              img {
                width: 32px;
                height: 25px;
              }
              h4 {
                text-align: center;
                font-size: 3rem;
                font-weight: 500;
                margin-top: 0.5rem;
                margin-bottom: 2.5rem;
              }
            }
          }
          .modal.lang_modal {
            .modal__inner--body {
              .item {
                width: 18rem;
              }
              .item:nth-of-type(n) {
                margin-right: 1rem;
              }
              .item:nth-of-type(3n + 0) {
                margin-right: 0;
              }
            }

            display: none;
          }

          .currency {
            .currency_modal {
              display: none;
              position: fixed;
              width: 100vw;
              height: 100vh;
              background: rgba(147, 138, 138, 0.41);
              z-index: 1;
              left: 0;
              overflow: scroll;
              top: 0;
            }
          }
          align-items: center;
          .dial {
            font-size: 2.5rem;
          }
        }
        &--right {
          font-size: 2.2rem;
          gap: 2.5rem;
        }
      }
      display: flex;
      color: $white;
      justify-content: space-between;
      align-items: center;
    }
    &__btm {
      margin-top: 2rem;
      ul {
        display: flex;
        justify-content: center;
        gap: 20px;

        li a {
          color: $white;
          text-transform: uppercase;
        }
      }
    }

    .modal {
      display: none;
    }

    font-size: 1.6rem;
    padding-top: 2px;
    padding-bottom: 3.5rem;
  }
  .search_box {
    &__inner {
      .close {
        color: white;
        display: flex;
        justify-content: center;
        padding-bottom: 8rem;
        i {
          width: 50px;
          height: 50px;
          background-color: #bb8f31;
          color: $white;
          border-radius: 50%;
          padding: 10px 14px;
          font-size: 28px;
          border: 1px solid $white;
        }
      }
      input {
        background: none;
        color: white;
        border: none;
        width: 100%;
        height: 10rem;
        padding-bottom: 1rem;
        border-bottom: 1.5px solid #bb8f31;
        font-size: 5rem;
      }
      input::placeholder {
        font-size: 5rem;
        color: #959595;
      }
      button {
        position: absolute;
        right: 7rem;
        background: none;
        border: none;
        color: white;
        font-size: 4.5rem;
        bottom: 2rem;
      }
      width: 100%;
      padding: 0 5rem;
      position: relative;
      margin-bottom: 12rem;
    }
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #1b1b1beb;
    left: 0;
    top: 0;
    overflow: scroll;
    display: none;
    flex-direction: row;
    align-items: end;
    z-index: 1;
  }

  background-color: $black;
}

/* ======= breadcrumb =========*/
.breadcrumb {
  &__inner {
    &--right {
      select {
        background: none;
        @extend %brdr;
        padding: 2px 4px;
      }
    }
    &--left {
      ul {
        display: flex;
        gap: 1rem;

        li i {
          margin-left: 0.5rem;
        }
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
  }
}

/*====== filter ========*/
.filter {
  &__inner {
    &__top {
      button {
        background-color: #f0f0f0;
        padding: 10px 18px;
        display: flex;
        gap: 5.5rem;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 2px;
        font-size: 1.6rem;
        font-family: inter;
        margin-bottom: 1.5rem;
      }
      display: flex;
      gap: 1.2rem;

      .filter_box {
        display: none;
      }
    }
    &__btm {
      &__single {
        button {
          border: none;
          background-color: #f4f4f4;
          padding: 6px 8px;
          border-radius: 13px;
        }
        display: flex;
        gap: 1rem;
        align-items: center;
      }
      .rem_filter {
        margin-left: 1rem;
        button {
          background: transparent;
          border: $border;
        }
      }

      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}

/* ========== Products ==========*/
.products {
  &__inner {
    margin-top: 2.5rem;
    &__single {
      flex: 1;
      position: relative;
      .bp_btn button {
        position: absolute;
        right: 0;
        top: 8px;
        border: none;
        border-radius: 0;
        background-color: #1cc200;
        color: $white;
        padding: 3px 8px;
        font-weight: 500;
        font-family: inter;
        font-size: 1.4rem;
      }
      @extend %brdr;
      .product {
        position: relative;
        .product_img img {
          width: 100%;
        }
        .product_img img:last-of-type {
          display: none;
        }
        .product_size ul {
          display: none;
          gap: 1rem;
          font-size: 1.6rem;
          justify-content: center;
          position: absolute;
          bottom: 2rem;
          width: 100%;
        }
      }
      .product:hover .product_img img:last-of-type {
        display: inline-block;
      }
      .product:hover .product_img img:first-of-type {
        display: none;
      }
      .product:hover {
        cursor: pointer;
      }
      .product:hover .product_size ul {
        display: flex;
        transition: all 2s ease-in;
      }
      h6 {
        color: #c19f55;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 2rem;
        padding-bottom: 2rem;
        border-bottom: $border;
      }
      .product_details {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        h3 {
          font-weight: normal;
        }
        .icon:hover {
          cursor: pointer;
        }
        .icon i {
          color: #c1bdbd;
        }
      }
    }
    display: flex;
    gap: 3rem;
  }
}

/*========pagination=========*/
.pagination {
  &__inner {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 8rem auto;
    align-items: center;
    .pages_btns button {
      background: none;
      border: none;
    }
    .pages_btns .active_page {
      padding: 10px 14px;
      border-radius: 50%;
      border: none;
      background-color: #bc8e2a;
      color: $white;
      margin-left: 1.5rem;
    }
  }
}

/* ============ footer nav ============ */
.footer_nav {
  &__inner {
    &__single {
      max-width: 245px;
      a {
        color: $white;
        display: flex;
        margin-bottom: 0.8rem;
      }
      h3 {
        margin-bottom: 1rem;
      }
      p {
        margin-top: 7px;
      }
    }
    display: flex;
    justify-content: space-between;
  }
  background-color: $black;
  color: $white;
  padding-top: 3.5rem;
  padding-right: 8rem;
}

.footer {
  &__inner {
    .social_sites {
      display: flex;
      justify-content: center;
      gap: 1.2rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    .social_sites a {
      color: $black;
      width: 30px;
      background-color: $white;
      border-radius: 50%;
      height: 30px;
      text-align: center;
      display: inline-block;
      padding-top: 5px;
      font-size: 1.8rem;
    }
    .footer_texts {
      text-align: center;
    }
    .menu_box,
    .chat_box {
      display: none;
    }
    .chat_box {
      .chb_menu {
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 8px;
        padding-bottom: 2rem;
        background-color: black;
        color: #c4bdbd;
        font-size: 2rem;
      }

      .hov_items {
        position: absolute;
        top: 3.6rem;
        background-color: black;
        color: #cac6c6;
        padding: 0.9rem;
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 1.8rem;
        left: 0px;
        align-items: center;
      }
      .hov_items a {
        color: #c6c3c3;
        padding-top: 5px;
      }

      .chat_box__body {
        padding: 1.5rem;
      }
      display: block;
      position: absolute;
      background-color: white;
      color: black;
      width: 290px;
      right: 0;
      padding: 1.5rem;
    }
  }
  background-color: $black;
  color: $white;
  padding: 2rem 0;
}

/*footer menu*/

.footer_menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-right: 8rem;
    font-size: 2.4rem;
  }
  background-color: black;
  color: white;
}

/*chat icon*/
.chat_icon {
  position: fixed;
  right: 5.8rem;
  bottom: 10rem;
  background-color: #888888;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 4rem;
  border: 2px solid #d09108;
  box-shadow: 0 0 7px gray;
}
